* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter-bold;
}

@font-face {
  font-family: inter-bold;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
  font-family: inter-extra-bold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
  width: 70%;
  margin: auto;
  padding: 30px 20px;
}

header ul {
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 40px;
  color: hsl(236, 13%, 42%);
  transition: all 500ms ease;
}

header ul li:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

main {
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  grid-template-areas:
    "a1 a1 a2"
    "a3 a4 a2"
    "a5 a5 a5";
  /* justify-content: center; */
  gap: 30px;
  width: 70%;
  margin: auto;
  padding: 30px 20px;
  /* background: pink; */
}

main div {
  width: 200px;
  height: 200px;
}

main img {
  width: 100%;
  height: 300px;
  grid-area: a1;
}
main #d2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: hsl(240, 100%, 5%);
  width: 100%;
  /* max-width: 100%; */
  height: 100%;
  grid-area: a2;
  padding: 20px 30px;
  color: #fff;
  font-weight: 700;
}

main #d2 .infos {
  width: 320px;
  height: 100px;
}

main #d2 div:nth-of-type(1) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

main #d2 div:nth-of-type(2) {
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

main #d2 h2 {
  color: hsl(35, 77%, 62%);
  font-size: 35px;
}

main #d2 p {
  margin: 0 0 10px 0;
  transition: all 500ms ease;
}

main #d2 p:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

main #d2 label {
  font-weight: 400;
  color: hsl(233, 8%, 79%);
}

main #d3 {
  grid-area: a3;
  width: 100%;
  min-width: 200px;
}

main #d3 h1 {
  font-size: 40px;
  width: 270px;
  font-family: inter-extra-bold;
}

main #d4 {
  grid-area: a4;
  width: 100%;
  text-align: justify;
  position: relative;
}
main #d4 p {
  line-height: 22px;
}
main #d4 button {
  background: hsl(240, 100%, 5%);
  color: #fff;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
  margin-top: 10px;
  /* position: absolute;
  bottom: 0; */
}

main #d5 {
  /* background: orange; */
  grid-area: a5;
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
}

main .card {
  display: flex;
  width: 33%;
  background: red;
}

main #d5 img {
  width: 150px;
  height: 100%;
  margin-right: 20px;
}

main .card label {
  font-size: 20px;
  color: hsl(236, 13%, 42%);
}
