* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter-bold;
}

@font-face {
  font-family: inter-bold;
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: red; */
  width: 80%;
  margin: auto;
  padding: 30px 20px;
}

header ul {
  list-style: none;
}

header ul li {
  float: left;
  margin-left: 40px;
  color: hsl(236, 13%, 42%);
  transition: all 500ms ease;
}

header ul li:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}
